.confirmation-modal-header{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding: 10px;

  font-size: large;

  border: 1px solid #777;
  border-style: none none solid none;
}

.confirmation-modal-text{
  padding: 10px;
}

.confirmation-modal-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 10px;

  border: 1px solid #777;
  border-style: solid none none none;
}

.confirmation-modal-footer-space{
  width: 10px;
  height: 1px;
}